@font-face {
    font-family: 'Poppins'; /* 重命名字体名 */
    src: url('../../../static/fonts/Poppins.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsBold'; /* 重命名字体名 */
    src: url('../../../static/fonts/Poppins-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsLight'; /* 重命名字体名 */
    src: url('../../../static/fonts/Poppins-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsMedium'; /* 重命名字体名 */
    src: url('../../../static/fonts/Poppins-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsRegular'; /* 重命名字体名 */
    src: url('../../../static/fonts/Poppins-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansBold'; /* 重命名字体名 */
    src: url('../../../static/fonts/NotoSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OreganoRegular'; /* 重命名字体名 */
    src: url('../../../static/fonts/Oregano-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GilroyExtraBold'; /* 重命名字体名 */
    src: url('../../../static/fonts/Gilroy-ExtraBold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold'; /* 重命名字体名 */
    src: url('../../../static/fonts/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratBold'; /* 重命名字体名 */
    src: url('../../../static/fonts/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratRegular'; /* 重命名字体名 */
    src: url('../../../static/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'MontserratLight'; /* 重命名字体名 */
    src: url('../../../static/fonts/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsSemiBold'; /* 重命名字体名 */
    src: url('../../../static/fonts/Poppins-SemiBold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AbrilDisplayBold'; /* 重命名字体名 */
    src: url('../../../static/fonts/Abril_Display_Bold.otf');
    font-weight: normal;
    font-style: normal;
}